<div>
	<% if !flash[:notice].blank? %>
        			<div class="alert alert-success flash fade-in">
        			<a class="close" data-dismiss="alert">×</a>
          				<%= flash[:notice] %>
        			</div>
    <% end %>
</div>