<% @page_title_icon_class = "fa fa-bar-chart-o" %>
<% @page_title = "Report" %>

			<!-- END STYLE CUSTOMIZER -->
			

			<!-- BEGIN PAGE CONTENT-->
			<div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-full-width">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#tab_1_1" data-toggle="tab">
									 #Report 1
								</a>
							</li>
							<li>
								<a href="#tab_1_3" id="report2" data-toggle="tab">
									 #Report 2
								</a>
							</li>
							
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_1">
								<div class="ro">
									
									<div class="col-md-">
										<div class="ro">
											
											<!-- BEGIN BASIC CHART PORTLET-->
												<div class="portlet box ">
													<h3 class="page-titl"> Appointments Stats (Male - Female) for 1st half of the year</h3>
													
													<hr />
													<div style="max-width: 60%;">
														<canvas id="canvas" height="200" width="600"></canvas>
													</div>
												</div>
											<!-- END BASIC CHART PORTLET-->

										</div>
									</div>
								</div>
							</div>
							<!--tab_1_2-->
							<div class="tab-pane active " id="tab_1_3">
								<div class="ro">
									
									<div class="col-md-">
										<div class="ro">
											
											<!-- BEGIN BASIC CHART PORTLET-->
												<div class="portlet box ">
													<h3 class="page-titl"> Gender & Age Stats

													</h3>
													
													<hr />
													<div style="max-width: 60%;">
														<canvas id="canvass" height="200" width="600"></canvas>
													</div>
												</div>
											<!-- END BASIC CHART PORTLET-->

										</div>
									</div>
								</div>
							</div>
							<!--end tab-pane-->
							
							<!--end tab-pane-->
							
							<!--end tab-pane-->
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->			
			<!-- END EXAMPLE TABLE PORTLET-->

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

